<div class="container">
    <h5>Contact</h5>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{contact.firstName}} {{contact.lastName}}</td>
          <td>{{contact.number}}</td>
          <td>{{contact.address}}</td>
          <td>{{contact.email}}</td>
        </tr>
</table>

<button type="button" class="btn btn-outline-primary" (click)="goBack()">Return</button>
</div>
